body {
    font-family: "Segoe UI", sans-serif;
    background-color: #f8f9fa;
    color: #333;
  }
  
  .navbar {
    border-bottom: 2px solid #ccc;
  }
  
  .card {
    background-color: #ffffff;
  }
  
  .card-header {
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
  
  label.form-label {
    font-size: 1rem;
    color: #333;
  }
  
  input::placeholder {
    color: #aaa;
    font-style: italic;
  }
  
  .btn-success {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  
  select.form-select {
    cursor: pointer;
  }
  